[Desktop Entry]
Type=Application
Name=Omatrack
GenericName=Music tracker
Comment=Terminal tracker for .mod, .xm, and .it
Exec=omatrack
Icon=omatrack
Terminal=true
Categories=AudioVideo;Audio;Midi;
Keywords=mod;xm;it;protracker;tracker;amiga;module;
StartupNotify=false
